# Linguagens de programação
Content/c/* @luizffgv
Content/javascript/* @DaviAMSilva
Content/python/* @MarcosMacmillan

# Arquivos gerais
README.md @luizffgv
CONTRIBUTING.md @luizffgv
LICENSE @luizffgv
